.home-img{
    width: 65%;
    border-radius: 50%;
    margin-left: 9em;
}
body{
    height: 100%;
	background-color: #353434;
}
.navbar{
	background-color:transparent;
}
.navbar.navbar-bg{
	background-color: #1B2343;
}
.navbar .navbar-brand,
.navbar .navbar-brand:hover,
.navbar .navbar-brand:focus,
.navbar-light .navbar-nav .nav-link,
.navbar-light .navbar-nav .nav-link:focus,
.navbar-light .navbar-nav .nav-link:hover{
	color: #fff;
	font-family: 'Yanone Kaffeesatz', sans-serif;
	font-size: 2em;
}

.custom-toggler .navbar-toggler-icon {
	background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}
  
.custom-toggler.navbar-toggler {
	border-color: #fff;
}
.logo{
	height: 30px;
	width: 100px;
}
.margin-top-10em{
    margin-top:10em;
}
.font-family-yanone {
    font-family: 'Yanone Kaffeesatz', sans-serif;
}
.name-tag{
    margin-top: 8em;
}
.font-size-4em{
    font-size: 4em;
}
.font-size-3em{
    font-size: 3em;
}
.color-red{
    color:red;
}
.color-js-blue{
    color : #6495ed;
}
.color-js-yellow{
    color:#f9f992;
}
.color-js-red{
    color:#da6161;
}
code{
    color: #fff!important;
    font-size: 1.5em!important;
}
pre{
    margin-top: 7em;
    white-space: pre-line;
}
.skills-images{
    width: 100px;
    height: 100px;
    margin: 5px;
}